.fondo {

  

}

h3 {
  width: 100%;
  font-size: 120px;
  width: 700px;
  position: absolute;
  right: 47%;
  text-align: right;
}

h2 {

  width: 100%;
  font-size: 50px;
  width: 900px;
  position: absolute;
  right: 47%;
  bottom: 45%;
  text-align: right;

}



.Formulario {   
  
  background: linear-gradient(to right, #FD5D39, #F49565);
  width: 350px;
  height: 570px;
  position: absolute;
  right: 18%;
  padding: 60px 100px;
  border-radius: 15px;
  
}


.Formulario label {

  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-family: open Arial, Helvetica, sans-serif;

  
}

.containe.f {
  width: 100%;
  display: flex;
  justify-content: center;

  
}

.Formulario input {
  
  padding: 15px;       /*ALINEO UNO DEBAJO DE OTRO*/
  border-radius: 6px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  width: 95%;
  
}


.Formulario DIV {
margin: 15px 0px;;
}


.casilla input  {

  display: inline-block;
  width: 20px;
  height: 18px;
 
  
}

.casilla p {

  margin: 0px px 0px 0px;
  color: #ffffff;
  font-size: 20px;

}


.Formulario button { 
  padding: 40px 60px;
  margin: 0px;
  background-color: #ffffff;
  border: 0px solid;
  font-weight: bold;
  font-size: 28px;
  color: #FD5D39;

}